//variables & mixins
$white: #ffffff;
$ltGrey: #efefef;
$mdGrey: #c0c0c0;
$dkGrey: #cccccc;
$dkrGrey: #444444;
$secondary: #2875c7;
$dkSecondary: darken($secondary, 10%);
$ltSecondary: lighten($secondary, 45%);
$borderColor: $dkGrey;
$background: $white;

.row {
    display: flex;
    width: 100%;
}

.calendar {
    display: block;
    position: relative;
    background: $white;
    width: 900px;
    border: solid 1px $borderColor;
    margin: 5rem auto 0px;
    box-shadow: 0 0 15px 0 $mdGrey;
    font-size: 1.3rem;
    text-align: center;

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        cursor: default;
        font-size: 1.4rem;
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        user-select: none;

        .month-display {
            align-items: center;
            height: 40px;
            background: $dkrGrey;
        }

        .month-label {
            flex: 1;
        }

        .arrow {
            text-align: center;
            flex-basis: 15%;
            font-weight: bold;
            cursor: pointer;
            transition: background 0.2s;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background: $dkSecondary;
            }
        }
    }

    .week {
        border-top: solid 1px $borderColor;

        &:first-child {
            border-top: none;
        }
    }

    .day-names {
        color: $dkrGrey;
        font-weight: bold;
        cursor: default;
        font-size: 1.2rem;

        .day {
            cursor: default;

            &:hover {
                background: inherit;
            }
        }
    }

    .day {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        border-left: solid 1px $borderColor;
        cursor: pointer;
        transition: all 0.2s;
        padding: 10px 0;

        &:hover {
            background: $ltGrey;
        }

        &:first-child {
            border-left: none;
        }

        &.today {
            background: $ltSecondary;
        }

        &.different-month {
            color: $mdGrey;
        }

        &.selected {
            background: $secondary;
            color: $white;
        }
    }
    .day-label {
        height: 45px;
    }
    .video-scheduled-day {
        flex: 1;
        border-left: solid 1px $borderColor;
        color: white;
        text-align: left;
        background-size: cover;
        background-position: center;
        max-width: 128px;
    }
    .active-date {
        background: $ltGrey;
        border-radius: 50%;
        color: $dkrGrey;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        margin: 5px;
        font-size: 10px;
        font-weight: bold;
    }

    .edit-video {
        position: absolute;
        top: 50px;
        background: $dkrGrey;
        width: 50%;
        height: 85%;
        left: 0;
        right: 0;
        margin: auto;
        color: $white;
        padding: 20px 40px;
        border-radius: 6px;
    }
}
