@import 'bulma-config';
@import '~bulma';

@import 'variables';
@import 'general';
@import 'modifiers';
@import 'calendar';
@import 'components';

@import 'navigation';
@import 'todo';
@import 'settings';
@import 'welcome';
@import 'upload';


h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Public Sans', sans-serif;
}
